{% comment %}
Input component
Usage:
  <c-input type="text" name="username" placeholder="Enter username" />
  <c-input type="email" name="email" />
  <c-input type="password" name="password" />
  <c-input type="text" name="name" value="John" />
  
With input group:
  <c-input.group>
    <span class="px-3 flex items-center text-muted-foreground">https://</span>
    <c-input placeholder="example.com" />
  </c-input.group>
{% endcomment %}
<input 
  type="{{ type|default:'text' }}"
  class="input [div_&]:border-0 [div_&]:shadow-none [div_&]:focus-visible:ring-0 [div_&]:focus-visible:ring-offset-0 [div_&]:rounded-none {{ class }}"
  {% if name %}name="{{ name }}"{% endif %}
  {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
  {% if value %}value="{{ value }}"{% endif %}
  {% if disabled %}disabled{% endif %}
  {% if required %}required{% endif %}
  {{ attrs }}
/>
