{% comment %}
Pagination component
Usage:
  <c-pagination>
    <a href="#" class="btn-ghost">
      <svg>...</svg>
      Previous
    </a>
    <a href="#" class="btn-icon-ghost">1</a>
    <a href="#" class="btn-icon-outline">2</a>
    <a href="#" class="btn-icon-ghost">3</a>
    <a href="#" class="btn-ghost">
      Next
      <svg>...</svg>
    </a>
  </c-pagination>
{% endcomment %}
<nav 
  aria-label="Pagination"
  class="flex items-center gap-1 {{ class }}"
  {{ attrs }}
>
  {{ slot }}
</nav>
