{% comment %}
Input Group component - combining inputs with buttons, icons or text
Usage:
  <c-input_group>
    <span class="absolute left-3">$</span>
    <input type="text" class="input pl-8" placeholder="Amount" />
  </c-input_group>
  
  <c-input_group>
    <input type="text" class="input pr-16" placeholder="Username" />
    <button class="btn-sm absolute right-2">Copy</button>
  </c-input_group>
  
Note: Basecoat doesn't have a dedicated input-group class.
Use relative positioning on wrapper, absolute positioning for content,
and adjust input padding. This is just a passthrough container.
{% endcomment %}
<div 
  class="relative {{ class }}"
  {{ attrs }}
>
  {{ slot }}
</div>
